.big
{
        height: 400px;
        /* background: linear-gradient(red, blue); */
        /* background: linear-gradient(to bottom right,red, blue); */
        background: linear-gradient(to right,red,grey);
}

.circle
{
        height: 400px;
        background: radial-gradient(white, grey);       
}

input[type = "checkbox"]:checked + label
{
        text-decoration: line-through;
}

.background
{
        background-image: url(../images/key.jpg);
        background-attachment: fixed;
        background-size: cover;
}