/* body
{
        background-image: url("../images/bg.png");
} */

body
{
        background: url("../images/key.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
}

h1
{
        color: white;
        text-align: center;
}